__pycache__/
*.pyc
.idea/
*.kate-swp
*.egg-info/
**/outputs/
**/output/
**/results_all/
**/vti/
*.zip
*.hdf5
*.tif
*.tiff
*.aux.xml
*.grd
oq-engine/
SeismoStats/
pycsep/
presentations/
out/
results/catalogs/integrated/tol_*/
results/catalogs/integrated/fixdep_if/
